* {
    /*全局选择器*/
    margin: 0px;/*外边距*/
    padding: 0px;/*内边距*/
}

.header {
    /*头部*/
    width: 100%;/*宽度*/
    height: 150px;/*高度*/
}

body {  
    /* 设置背景图片 */  
    background-image: url('photo/1.jpg'); 
  
    /* 确保图片铺满整个背景 */  
    background-size: cover;  
  
    /* 防止图片重复 */  
    background-repeat: no-repeat;  
  
    /*设置背景图片的位置 */  
    background-position: center center; /* 居中显示 */  
    margin: 0;  
    padding: 0;  
}

#allcontent {
    /*冻结布局*/
    width: 1375px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin:auto;
}

#hi1 {
    /*头部图片*/
    width: 100%;/*宽度*/
    height: 150px;/*高度*/
}

.dh ul {
    /*导航栏*/
    width:100%;
    padding: 0px;/*内边距*/
    height: 50px;/*高度*/
    margin-bottom: 30px;
    margin-left: 10px;
    overflow: hidden;
}

.dh li {
    float: left;
}
 
.dh ul li {/*导航栏行的设置*/
    height: 30px;
    width: 16.45%;
    list-style: none;/*列表样式*/
    float: left;/*左浮动*/
    display: inline;
    font: 0.9em;
}
 
.dh ul li a {/*导航栏链接设置*/
    text-align: center;/*文本位置*/
    color: white;
    font-size: larger;/*字体大小*/
    font-family: 楷体;
    width: 100%;
    margin: 0px;
    text-decoration: none;/*列表样式*/
    display: block;
    background-color: #497771;
    line-height: 40px;
    border-bottom: 0px solid rgb(168, 164, 172);
}
 
.dh ul li a:hover {    /*鼠标划过导航栏时*/
    color: rgb(0, 0, 0);
    background-color:rgb(37,84,155);
    border-bottom: 3px solid rgb(16, 4, 28);
    
}

.footer {
    /*尾部*/
    margin-top: 10px;
    clear: both;/*清楚浮动*/
    width: 100%;
    height: 70px;
    background-color: #497771;
    color:#44484d;
    font: italic 14px/20px 宋体;/*文字样式*/
    text-align: center;
}

.footer p{
    margin-top: 10px;
}

.zhuti {/*主体内容*/
    margin: 20px 100px 0px 100px;
}
 
#zhuti-left {/*左边整体设置*/
    width: 755px;
    height: 1300px;
    padding: 20px;
    background-color: rgb(192, 229, 227);
    margin-left: 10px;
    float: left;
}
 
#zhuti-left p {/*左边文字设置*/
    letter-spacing: 2px;
    text-indent: 2em;
    line-height: 1.5em;

}

#zhuti-left img {/*左边图片设置*/
    width: 200px;
    height: 250px;
    border: 2px rgba(71, 146, 83, 0.764) ridge;
    display: block;
    float: left;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#zhuti-left ul {/*左边列表设置图片*/
    list-style-type: none;/*列表样式无*/
}
 
#zhuti-left li {
    float: left;
}

#zhuti-right {/*主体右边部分*/
    float: left;
    padding: 5px;
    width: 200px;
    height: 1330px;
    background-color: rgb(202, 240, 228);
}
 
#zhuti-right img {/*右边图片设置*/
    width: 200px;
    height: 250px;
}
 
#zhuti-right img:hover{
    transform: scale(1.1);
}
 
#zhuti-right a:hover{
    color: rgb(51, 209, 75);
}
 
#zhuti-right p {/*右边文字设置*/
    letter-spacing: 2px;/*字间距*/
    text-indent: 2em;
    line-height: 1.5em;
}

table {
    margin-left:      20px;
    margin-right:     20px;
    border:           thin solid black;
    caption-side:     bottom;
    border-collapse:  collapse;
    
  }
  
  table table th {
    background-color: white;
  }

  td, th {
    border:           thin dotted gray;
    padding:          5px;
  }
  
  th {
    background-color: #63cab9;
  }

  span{
    /*>>>行内设置*/
    float: right;
}
  
  span a{/*链接设置*/
    color: rgb(251, 5, 5);
}
span a:hover{/*鼠标划过时链接变化*/
    color: rgb(142, 233, 222);
}